#player-list{
  margin-left: 5px;

}

#add-player-btn {
  float: right;
}


.player-table {
  display: table;
  width: 100%;

}

.player-list-entry {
  display: table-row;
  border: 1px solid white;
  padding: 3px;
  background-color: beige;
}

.player-list-entry * {
  vertical-align: top;
}

.player-list-entry-name {
  float: left;
  color: black;
   padding: 3px;
}

.player-list-entry-btn {
  float: right;
}

.player-list-rm{

}


.player-list-icon {
/*
  background-image: url("../img/icons.gif");
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
*/
  margin: 0 1px;
  padding: 0px;
  vertical-align: middle;
}

.goog-custom-button {
  margin: 2px;
  border-color: #eeeeee;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #000;
  text-decoration: none;
  list-style: none;
  vertical-align: middle;
  cursor: default;
  outline: none;
}

